In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("c:/Users/Subham/mycodes/datasets/Interview.csv")

In [3]:
newcols={"Date of Interview":"DoI", 
         "Client name":"Name",
         "Position to be closed":"Position", 
         "Nature of Skillset":"Skillset",
         "Name(Cand ID)":"ID",
         "Nature of Skillset":"NatureSkillset",
         "Interview Type":"InterviewType",
         "Candidate Current Location": "CL",
         "Candidate Job Location":"JL",
         "Interview Venue":"Venue",
         "Candidate Native location":"NativeLocation",
         "Have you obtained the necessary permission to start at the required time":"Permissiontostart",
         "Hope there will be no unscheduled meetings":"UnscheduleMeetings",
         "Can I Call you three hours before the interview and follow up on your attendance for the interview":"WalkinInterview",
         "Can I have an alternative number/ desk number. I assure you that I will not trouble you too much":"AllContacts",
         "Have you taken a printout of your updated resume. Have you read the JD and understood the same":"RequiredMaterials",
         "Expected Attendance":"EA",
         "Observed Attendance":"OA",
         "Are you clear with the venue details and the landmark.":"ClearInfo",
         "Has the call letter been shared":"CallLetter",
         "Marital Status":"MS"}
df.rename(columns=newcols,inplace=True)

In [4]:
df1=df.drop(["DoI","ID","NatureSkillset","EA",'Unnamed: 23','Unnamed: 24','Unnamed: 25','Unnamed: 26','Unnamed: 27'],axis=1)

In [5]:
df1.dropna(how="all",inplace=True)
df1.isnull().sum()

Name                    0
Industry                1
Location                1
Position                1
InterviewType           1
Gender                  1
CL                      1
JL                      1
Venue                   1
NativeLocation          1
Permissiontostart     205
UnscheduleMeetings    248
WalkinInterview       248
AllContacts           248
RequiredMaterials     249
ClearInfo             249
CallLetter            246
OA                      1
MS                      1
dtype: int64

##### Industry

In [6]:
df1.dropna(subset=['Industry', 'Location', 'Position', 'InterviewType', 'Gender',
       'CL', 'JL', 'Venue', 'NativeLocation', 'Permissiontostart',
       'UnscheduleMeetings', 'WalkinInterview', 'AllContacts',
       'RequiredMaterials', 'ClearInfo', 'CallLetter', 'OA', 'MS'],how="all",inplace=True)

In [7]:
df1.isnull().sum()

Name                    0
Industry                0
Location                0
Position                0
InterviewType           0
Gender                  0
CL                      0
JL                      0
Venue                   0
NativeLocation          0
Permissiontostart     204
UnscheduleMeetings    247
WalkinInterview       247
AllContacts           247
RequiredMaterials     248
ClearInfo             248
CallLetter            245
OA                      0
MS                      0
dtype: int64

In [8]:
# Permissiontostart     204 done
# UnscheduleMeetings    247 done
# WalkinInterview       247 done
# AllContacts           247 done
# RequiredMaterials     248 done
# ClearInfo             248 done
# CallLetter            245 
# EA                      5

In [9]:
df1["Permissiontostart"]=df1.Permissiontostart.str.lower()
df1.Permissiontostart.value_counts(dropna=False)

yes               921
NaN               204
no                 80
not yet            19
na                  5
yet to confirm      4
Name: Permissiontostart, dtype: int64

In [10]:
df1.OA=df1.OA.str.lower()
df1.OA=df1.OA.str.strip()
df1.OA.value_counts()

yes    783
no     450
Name: OA, dtype: int64

In [11]:
df1[df1.Permissiontostart.isnull()][df1.OA=="no"].shape[0]

E:\ANACONDA\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

101

In [12]:
df1[df1.Permissiontostart.isnull()].shape[0]

204

In [13]:
df1[df1.Permissiontostart.isnull()][df1.OA=="yes"].shape[0]

E:\ANACONDA\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

103

In [14]:
df1.Permissiontostart.value_counts(dropna=False)

yes               921
NaN               204
no                 80
not yet            19
na                  5
yet to confirm      4
Name: Permissiontostart, dtype: int64

In [15]:
xdf=df1[["Permissiontostart","OA"]]
xdf.head()

  Permissiontostart  OA
0               yes  no
1               yes  no
2               NaN  no
3               yes  no
4               yes  no

In [16]:
for index,(ps,oa) in xdf.iterrows():
    if ps is np.NaN:
#         print("inside")
        if oa=="yes" :
            xdf["Permissiontostart"][index]="yes"
        else:
            xdf["Permissiontostart"][index]="no"

E:\ANACONDA\lib\site-packages\IPython\core\interactiveshell.py:3296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [17]:
xdf.Permissiontostart.value_counts(dropna=False)
df1["Permissiontostart"]=xdf["Permissiontostart"]
df1.Permissiontostart.value_counts()

yes               1024
no                 181
not yet             19
na                   5
yet to confirm       4
Name: Permissiontostart, dtype: int64

In [18]:
df1.isnull().sum()

Name                    0
Industry                0
Location                0
Position                0
InterviewType           0
Gender                  0
CL                      0
JL                      0
Venue                   0
NativeLocation          0
Permissiontostart       0
UnscheduleMeetings    247
WalkinInterview       247
AllContacts           247
RequiredMaterials     248
ClearInfo             248
CallLetter            245
OA                      0
MS                      0
dtype: int64

In [19]:
xdf=df1[["Permissiontostart","OA"]]

for index,(ps,oa) in xdf.iterrows():
    if ps is np.NaN:
#         print("inside")
        if oa=="yes" :
            xdf["Permissiontostart"][index]="yes"
        else:
            xdf["Permissiontostart"][index]="no"       

df1["Permissiontostart"]=xdf["Permissiontostart"]
df1.Permissiontostart.value_counts()

yes               1024
no                 181
not yet             19
na                   5
yet to confirm       4
Name: Permissiontostart, dtype: int64

In [20]:
xdf=df1[["UnscheduleMeetings","OA"]]

for index,(ps,oa) in xdf.iterrows():
    if ps is np.NaN:
#         print("inside")
        if oa=="yes" :
            xdf["UnscheduleMeetings"][index]="yes"
        else:
            xdf["UnscheduleMeetings"][index]="no"       

df1["UnscheduleMeetings"]=xdf["UnscheduleMeetings"]
df1.UnscheduleMeetings.value_counts()

Yes         949
no          141
yes         111
Na           20
No            6
Not sure      4
Not Sure      1
cant Say      1
Name: UnscheduleMeetings, dtype: int64

In [21]:
 xdf=df1[["WalkinInterview","OA"]]

for index,(ps,oa) in xdf.iterrows():
    if ps is np.NaN:
#         print("inside")
        if oa=="yes" :
            xdf["WalkinInterview"][index]="yes"
        else:
            xdf["WalkinInterview"][index]="no"       

df1["WalkinInterview"]=xdf["WalkinInterview"]
df1.WalkinInterview.value_counts()

Yes        951
no         141
yes        110
Na          20
No          10
No Dont      1
Name: WalkinInterview, dtype: int64

In [22]:
 xdf=df1[["AllContacts","OA"]]

for index,(ps,oa) in xdf.iterrows():
    if ps is np.NaN:
#         print("inside")
        if oa=="yes" :
            xdf["AllContacts"][index]="yes"
        else:
            xdf["AllContacts"][index]="no"       

df1["AllContacts"]=xdf["AllContacts"]
df1.AllContacts.value_counts()

Yes                          936
no                           141
yes                          107
No                            27
Na                            19
No I have only thi number      2
na                             1
Name: AllContacts, dtype: int64

In [23]:
 xdf=df1[["RequiredMaterials","OA"]]

for index,(ps,oa) in xdf.iterrows():
    if ps is np.NaN:
#         print("inside")
        if oa=="yes" :
            xdf["RequiredMaterials"][index]="yes"
        else:
            xdf["RequiredMaterials"][index]="no"       

df1["RequiredMaterials"]=xdf["RequiredMaterials"]
df1.RequiredMaterials.value_counts()

Yes                      940
no                       141
yes                      109
Na                        19
No                        16
Not Yet                    4
Not yet                    2
na                         1
No- will take it soon      1
Name: RequiredMaterials, dtype: int64

In [24]:
 xdf=df1[["ClearInfo","OA"]]

for index,(ps,oa) in xdf.iterrows():
    if ps is np.NaN:
#         print("inside")
        if oa=="yes" :
            xdf["ClearInfo"][index]="yes"
        else:
            xdf["ClearInfo"][index]="no"       

df1["ClearInfo"]=xdf["ClearInfo"]
df1.ClearInfo.value_counts()

Yes                    946
no                     142
yes                    109
Na                      19
No                      14
No- I need to check      2
na                       1
Name: ClearInfo, dtype: int64

In [25]:
 xdf=df1[["CallLetter","OA"]]

for index,(ps,oa) in xdf.iterrows():
    if ps is np.NaN:
#         print("inside")
        if oa=="yes" :
            xdf["CallLetter"][index]="yes"
        else:
            xdf["CallLetter"][index]="no"       

df1["CallLetter"]=xdf["CallLetter"]
df1.CallLetter.value_counts()

Yes               932
no                140
yes               108
Na                 19
No                 17
Not Sure            8
Need To Check       3
Not yet             2
Not sure            1
na                  1
Yet to Check        1
Havent Checked      1
Name: CallLetter, dtype: int64

In [26]:
df1.isnull().sum()

Name                  0
Industry              0
Location              0
Position              0
InterviewType         0
Gender                0
CL                    0
JL                    0
Venue                 0
NativeLocation        0
Permissiontostart     0
UnscheduleMeetings    0
WalkinInterview       0
AllContacts           0
RequiredMaterials     0
ClearInfo             0
CallLetter            0
OA                    0
MS                    0
dtype: int64

In [27]:
x=df1.columns.unique()
list(x)
for i in x:
    print(i)
    print("\n")
#     print(df1[i].unique())
    y=df1[i].unique()
    for j in y:
#         print(j)        
        yes=[(df1[(df1[i]==j) & (df1.OA=="yes")].shape[0]/df1[df1[i]==j].shape[0])*100]
        print(j,"> YES %:",yes)
    print("\n")
#     yes=(df1[(df1.Industry=="IT") & (df1.OA=="yes")].shape[0]/df1[df1.Industry=="IT"].shape[0])*100
    
# df["DoI"].unique()

Name


Hospira > YES %: [46.666666666666664]
Aon Hewitt > YES %: [89.28571428571429]
UST > YES %: [55.55555555555556]
Standard Chartered Bank > YES %: [63.38495575221239]
ANZ > YES %: [90.9090909090909]
Pfizer > YES %: [68.0]
Standard Chartered Bank Chennai > YES %: [58.82352941176471]
Aon hewitt Gurgaon > YES %: [100.0]
Astrazeneca > YES %: [66.66666666666666]
Flextronics > YES %: [65.21739130434783]
Prodapt > YES %: [35.294117647058826]
Williams Lea > YES %: [72.72727272727273]
Barclays > YES %: [100.0]
Hewitt > YES %: [60.0]
Woori Bank > YES %: [100.0]


Industry


Pharmaceuticals > YES %: [58.18181818181818]
IT Services > YES %: [60.86956521739131]
BFSI > YES %: [64.17281348788198]
IT Products and Services > YES %: [77.77777777777779]
Electronics > YES %: [65.21739130434783]
Telecom > YES %: [35.294117647058826]
IT > YES %: [72.72727272727273]


Location


Chennai > YES %: [60.3448275862069]
Gurgaon > YES %: [69.6969696969697]
Bangalore > YES %: [66.0958904109589]
Hyderabad > YES %: [68.42105263157895]
Gurgaonr > YES %: [100.0]
Delhi > YES %: [100.0]
chennai > YES %: [72.09302325581395]
- Cochin-  > YES %: [66.66666666666666]
Noida > YES %: [93.33333333333333]
CHENNAI > YES %: [0.0]
chennai  > YES %: [66.66666666666666]


Position


Production- Sterile > YES %: [0.0]
Selenium testing > YES %: [80.0]
Dot Net > YES %: [55.55555555555556]
AML > YES %: [62.5]
Trade Finance > YES %: [63.63636363636363]
Routine > YES %: [62.267839687194524]
Niche > YES %: [73.61963190184049]


InterviewType


Scheduled Walkin > YES %: [58.730158730158735]
Scheduled  > YES %: [68.73315363881402]
Walkin > YES %: [55.026455026455025]
Scheduled Walk In > YES %: [64.69298245614034]
Sceduled walkin > YES %: [100.0]
Walkin  > YES %: [62.96296296296296]


Gender


Male > YES %: [63.626943005181346]
Female > YES %: [63.059701492537314]


CL


Chennai > YES %: [60.3448275862069]
Gurgaon > YES %: [70.58823529411765]
Bangalore > YES %: [66.0958904109589]
Hyderabad > YES %: [68.42105263157895]
Delhi > YES %: [100.0]
chennai > YES %: [72.09302325581395]
- Cochin-  > YES %: [66.66666666666666]
Noida > YES %: [93.33333333333333]
CHENNAI > YES %: [0.0]
chennai  > YES %: [66.66666666666666]


JL


Hosur > YES %: [0.0]
Bangalore > YES %: [65.63706563706563]
Chennai > YES %: [61.81410974244122]
Gurgaon > YES %: [71.42857142857143]
Visakapatinam > YES %: [76.19047619047619]
- Cochin-  > YES %: [66.66666666666666]
Noida > YES %: [93.33333333333333]


Venue


Hosur > YES %: [0.0]
Gurgaon > YES %: [71.42857142857143]
Bangalore > YES %: [66.06498194945848]
Chennai > YES %: [61.85446009389671]
Hyderabad > YES %: [70.0]
- Cochin-  > YES %: [66.66666666666666]
Noida > YES %: [93.33333333333333]


NativeLocation


Hosur > YES %: [66.66666666666666]
Trichy > YES %: [46.15384615384615]
Chennai > YES %: [60.0]
Gurgaon > YES %: [73.07692307692307]
Noida > YES %: [88.23529411764706]
Delhi /NCR > YES %: [50.0]
Cochin > YES %: [70.83333333333334]
Trivandrum > YES %: [57.14285714285714]
Bangalore > YES %: [68.87417218543047]
Coimbatore > YES %: [71.42857142857143]
Salem > YES %: [66.66666666666666]
Tanjore > YES %: [100.0]
Hyderabad > YES %: [68.02325581395348]
Mumbai > YES %: [42.857142857142854]
Pune > YES %: [63.63636363636363]
Kolkata > YES %: [50.0]
Allahabad > YES %: [65.0]
Panjim > YES %: [0.0]
Cuttack > YES %: [60.0]
Visakapatinam > YES %: [62.5]
Belgaum > YES %: [0.0]
Patna > YES %: [50.0]
Chitoor > YES %: [66.66666666666666]
Anantapur > YES %: [100.0]
Warangal > YES %: [66.66666666666666]
Ahmedabad > YES %: [100.0]
Kurnool > YES %: [100.0]
Vijayawada > YES %: [25.0]
Vellore > YES %: [58.333333333333336]
Pondicherry > YES %: [80.0]
Nagercoil > YES %: [56.25]
Agra > YES %: [0.0]
Bhubaneshwar > YES %: [0.0]
Ghaziabad > YES %: [100.0]
Baddi > YES %: [0.0]
Tuticorin > YES %: [100.0]
Tirupati > YES %: [75.0]
Faizabad > YES %: [100.0]
Ambur > YES %: [50.0]
Chandigarh > YES %: [60.0]
Mysore > YES %: [100.0]
Hissar > YES %: [100.0]
Delhi > YES %: [100.0]
Kanpur > YES %: [0.0]
Lucknow > YES %: [100.0]
- Cochin-  > YES %: [100.0]


Permissiontostart


yes > YES %: [75.29296875]
no > YES %: [3.314917127071823]
not yet > YES %: [15.789473684210526]
yet to confirm > YES %: [0.0]
na > YES %: [60.0]


UnscheduleMeetings


Yes > YES %: [70.60063224446786]
Na > YES %: [15.0]
No > YES %: [0.0]
yes > YES %: [99.09909909909909]
no > YES %: [0.0]
Not Sure > YES %: [0.0]
cant Say > YES %: [0.0]
Not sure > YES %: [0.0]


WalkinInterview


Yes > YES %: [69.92639327024185]
no > YES %: [0.0]
No > YES %: [40.0]
yes > YES %: [100.0]
No Dont > YES %: [100.0]
Na > YES %: [15.0]


AllContacts


Yes > YES %: [71.04700854700855]
no > YES %: [0.0]
No > YES %: [29.629629629629626]
No I have only thi number > YES %: [0.0]
yes > YES %: [100.0]
na > YES %: [0.0]
Na > YES %: [15.789473684210526]


RequiredMaterials


Yes > YES %: [71.06382978723404]
no > YES %: [0.0]
No > YES %: [12.5]
No- will take it soon > YES %: [0.0]
yes > YES %: [100.0]
Not yet > YES %: [50.0]
na > YES %: [0.0]
Na > YES %: [15.789473684210526]
Not Yet > YES %: [0.0]


ClearInfo


Yes > YES %: [70.61310782241014]
no > YES %: [0.7042253521126761]
No > YES %: [7.142857142857142]
No- I need to check > YES %: [50.0]
yes > YES %: [100.0]
na > YES %: [0.0]
Na > YES %: [15.789473684210526]


CallLetter


Yes > YES %: [71.45922746781116]
no > YES %: [0.7142857142857143]
Havent Checked > YES %: [100.0]
No > YES %: [11.76470588235294]
Need To Check > YES %: [0.0]
Not sure > YES %: [100.0]
Yet to Check > YES %: [100.0]
Not Sure > YES %: [0.0]
yes > YES %: [100.0]
Not yet > YES %: [0.0]
na > YES %: [0.0]
Na > YES %: [15.789473684210526]


OA


no > YES %: [0.0]
yes > YES %: [100.0]


MS


Single > YES %: [64.27640156453715]
Married > YES %: [62.231759656652365]

In [28]:
df1.Permissiontostart.value_counts()

yes               1024
no                 181
not yet             19
na                   5
yet to confirm       4
Name: Permissiontostart, dtype: int64

In [29]:
df1.Permissiontostart=df1.Permissiontostart.str.replace("not yet","yet to confirm")
df1.Permissiontostart.value_counts(dropna=False)

yes               1024
no                 181
yet to confirm      23
na                   5
Name: Permissiontostart, dtype: int64

In [30]:
df1.UnscheduleMeetings=df1.UnscheduleMeetings.str.lower()
df1.UnscheduleMeetings=df1.UnscheduleMeetings.str.replace("cant say","no")
df1.UnscheduleMeetings=df1.UnscheduleMeetings.str.replace("not sure","no")
df1.UnscheduleMeetings.value_counts(dropna=False)

yes    1060
no      153
na       20
Name: UnscheduleMeetings, dtype: int64

In [31]:
df1.WalkinInterview=df1.WalkinInterview.str.lower()
df1.WalkinInterview.value_counts(dropna=False)

yes        1061
no          151
na           20
no dont       1
Name: WalkinInterview, dtype: int64

In [32]:
df1[df1.WalkinInterview.isnull()][df1.OA=="yes"].shape[0]

E:\ANACONDA\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

0

In [33]:
df1.AllContacts=df1.AllContacts.str.lower()
df1.AllContacts=df1.AllContacts.str.replace("no i have only thi number","no")
df1.AllContacts.value_counts(dropna=False)

yes    1043
no      170
na       20
Name: AllContacts, dtype: int64

In [34]:
df1.RequiredMaterials=df1.RequiredMaterials.str.lower()
df1.RequiredMaterials.value_counts(dropna=False)

yes                      1049
no                        157
na                         20
not yet                     6
no- will take it soon       1
Name: RequiredMaterials, dtype: int64

In [35]:
df1.RequiredMaterials=df1.RequiredMaterials.str.replace("na","not yet")
df1.RequiredMaterials=df1.RequiredMaterials.str.replace("no- will take it soon","no")
df1.RequiredMaterials.value_counts()

yes        1049
no          158
not yet      26
Name: RequiredMaterials, dtype: int64

In [36]:
df1.ClearInfo=df1.ClearInfo.str.lower()
df1.ClearInfo.value_counts(dropna=False)

yes                    1055
no                      156
na                       20
no- i need to check       2
Name: ClearInfo, dtype: int64

In [37]:
df1.ClearInfo=df1.ClearInfo.fillna(value="no")
df1.ClearInfo.value_counts()

yes                    1055
no                      156
na                       20
no- i need to check       2
Name: ClearInfo, dtype: int64

In [38]:
# df1.ClearInfo=df1.ClearInfo.str.replace("na","no")
df1.ClearInfo=df1.ClearInfo.str.replace("no- i need to check","no")
df1.ClearInfo.value_counts()

yes    1055
no      158
na       20
Name: ClearInfo, dtype: int64

In [39]:
df1.columns

Index(['Name', 'Industry', 'Location', 'Position', 'InterviewType', 'Gender',
       'CL', 'JL', 'Venue', 'NativeLocation', 'Permissiontostart',
       'UnscheduleMeetings', 'WalkinInterview', 'AllContacts',
       'RequiredMaterials', 'ClearInfo', 'CallLetter', 'OA', 'MS'],
      dtype='object')

In [40]:
# CL
df1["CL"]=df1.CL.str.lower()
df1["CL"]=df1.CL.str.rstrip()
df1["CL"]=df1.CL.str.replace("- cochin-","cochin")


# JL (Job Location)
df1["JL"]=df1.JL.str.lower()
df1["JL"]=df1.JL.str.replace("- cochin-","cochin")

# Venue
df1["Venue"]=df.Venue.str.lower()
df1["Venue"]=df.Venue.str.replace("- cochin-","cochin")

In [41]:
df1.Name=df1.Name.str.lower()
df1.Name=df1.Name.str.replace(" ","_")
df1.Name=df1.Name.str.replace("standard_chartered_bank_chennai","standard_chartered_bank")
df1.Name=df1.Name.str.replace("aon_hewitt_gurgaon","aon_hewitt")
df1.Name.value_counts()

standard_chartered_bank    921
hospira                     75
pfizer                      75
aon_hewitt                  30
flextronics                 23
anz                         22
hewitt                      20
ust                         18
prodapt                     17
astrazeneca                 15
williams_lea                11
barclays                     5
woori_bank                   1
Name: Name, dtype: int64

In [42]:
piadf=df1.drop(["Industry","Location","Position","InterviewType",
                "Gender","NativeLocation","WalkinInterview","CallLetter","MS"], axis=1)

In [43]:
piadf.head()

,Name,CL,JL,Venue,Permissiontostart,UnscheduleMeetings,AllContacts,RequiredMaterials,ClearInfo,OA
0,hospira,chennai,hosur,Hosur,yes,yes,yes,yes,yes,no
1,hospira,chennai,bangalore,Hosur,yes,yes,yes,yes,yes,no
2,hospira,chennai,chennai,Hosur,no,na,no,no,no,no
3,hospira,chennai,chennai,Hosur,yes,yes,yes,no,yes,no
4,hospira,chennai,bangalore,Hosur,yes,yes,no,yes,yes,no

In [44]:
piadf.shape

(1233, 10)

In [45]:
from sklearn.preprocessing import LabelEncoder
x=piadf.columns
x=list(x)
encoder = LabelEncoder()
for i in x:
    value = piadf[i]
    value_encoded = encoder.fit_transform(value)
    piadf[i]=value_encoded

In [46]:
piadf.head()

,Name,CL,JL,Venue,Permissiontostart,UnscheduleMeetings,AllContacts,RequiredMaterials,ClearInfo,OA
0,6,1,4,4,2,2,2,2,2,0
1,6,1,0,4,2,2,2,2,2,0
2,6,1,1,4,1,0,1,0,1,0
3,6,1,1,4,2,2,2,0,2,0
4,6,1,0,4,2,2,1,2,2,0

In [47]:
from sklearn import linear_model
from sklearn import model_selection
from sklearn import utils
from sklearn import metrics
from sklearn import tree
from sklearn.feature_selection import RFECV
from sklearn import feature_selection
from sklearn import naive_bayes
from sklearn import neighbors

def modelstats1(Xtrain,Xtest,ytrain,ytest):
    stats=[]
    modelnames=["LR","DecisionTree","KNN","NB"]
    models=list()
    models.append(linear_model.LogisticRegression())
    models.append(tree.DecisionTreeClassifier())
    models.append(neighbors.KNeighborsClassifier())
    models.append(naive_bayes.GaussianNB())
    for name,model in zip(modelnames,models):
        if name=="KNN":
            k=[l for l in range(5,17,2)]
            grid={"n_neighbors":k}
            grid_obj = model_selection.GridSearchCV(estimator=model,param_grid=grid,scoring="f1")
            grid_fit =grid_obj.fit(Xtrain,ytrain)
            model = grid_fit.best_estimator_
            model.fit(Xtrain,ytrain)
            name=name+"("+str(grid_fit.best_params_["n_neighbors"])+")"
            print(grid_fit.best_params_)
        else:
            model.fit(Xtrain,ytrain)
        trainprediction=model.predict(Xtrain)
        testprediction=model.predict(Xtest)
        scores=list()
        scores.append(name+"-train")
        scores.append(metrics.accuracy_score(ytrain,trainprediction))
        scores.append(metrics.precision_score(ytrain,trainprediction))
        scores.append(metrics.recall_score(ytrain,trainprediction))
        scores.append(metrics.roc_auc_score(ytrain,trainprediction))
        stats.append(scores)
        scores=list()
        scores.append(name+"-test")
        scores.append(metrics.accuracy_score(ytest,testprediction))
        scores.append(metrics.precision_score(ytest,testprediction))
        scores.append(metrics.recall_score(ytest,testprediction))
        scores.append(metrics.roc_auc_score(ytest,testprediction))
        stats.append(scores)
    
    colnames=["MODELNAME","ACCURACY","PRECISION","RECALL","AUC"]
    return pd.DataFrame(stats,columns=colnames)

In [48]:
X=piadf.drop("OA",axis=1)
y=piadf["OA"]
Xtrain,Xtest,ytrain,ytest=model_selection.train_test_split(X,y,test_size=.15,random_state=42)
modelstats1(Xtrain,Xtest,ytrain,ytest)

E:\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
E:\ANACONDA\lib\site-packages\sklearn\model_selection\_split.py:2053: FutureWarning: You should specify a value for 'cv' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(CV_WARNING, FutureWarning)

{'n_neighbors': 5}

            MODELNAME  ACCURACY  PRECISION    RECALL       AUC
0            LR-train  0.772901   0.739618  0.990977  0.692617
1             LR-test  0.789189   0.751592  1.000000  0.708955
2  DecisionTree-train  0.804389   0.773810  0.977444  0.740680
3   DecisionTree-test  0.821622   0.797203  0.966102  0.766633
4        KNN(5)-train  0.791985   0.755429  0.993985  0.717619
5         KNN(5)-test  0.778378   0.748387  0.983051  0.700481
6            NB-train  0.790076   0.762073  0.972932  0.722759
7             NB-test  0.805405   0.780822  0.966102  0.744245

In [49]:
model=tree.DecisionTreeClassifier(random_state=42)
testdepth=list(range(3,20))
paramgrid={"max_depth":testdepth}
gridobj=model_selection.GridSearchCV(model,paramgrid,scoring="precision")

In [50]:
gridobj.fit(X,y)

E:\ANACONDA\lib\site-packages\sklearn\model_selection\_split.py:2053: FutureWarning: You should specify a value for 'cv' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(CV_WARNING, FutureWarning)

GridSearchCV(cv='warn', error_score='raise-deprecating',
       estimator=DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=42,
            splitter='best'),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'max_depth': [3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='precision', verbose=0)

In [51]:
gridobj.best_params_

{'max_depth': 12}

In [52]:
gridobj.best_score_

0.7515832896328444

In [53]:
def printscores(ytest,predicted):
    confmatrix=metrics.confusion_matrix(ytest,predicted)
    print("Confusion matrix:\n",confmatrix)
    print("Accuracy:\n",metrics.accuracy_score(ytest,predicted))
    print("Recall:\n",metrics.recall_score(ytest,predicted))
    print("Precision:\n",metrics.precision_score(ytest,predicted))
    print("Area under curve:\n",metrics.roc_auc_score(ytest,predicted))

In [54]:
Xtrain,Xtest,ytrain,ytest=model_selection.train_test_split(X,y,test_size=.2,random_state=42)
model=tree.DecisionTreeClassifier(max_depth=12)
model.fit(Xtrain,ytrain)
prediction=model.predict(Xtest)

printscores(ytest,prediction)

Confusion matrix:
 [[ 47  44]
 [  2 154]]
Accuracy:
 0.8137651821862348
Recall:
 0.9871794871794872
Precision:
 0.7777777777777778
Area under curve:
 0.7518315018315018